@import url("./normalize.css");
html{
    font-size: 10px;
}
body{
    width: 100%;
    background-color: #F5F5F5;
    max-width: 192rem;
}
.header{
height: 21rem;
width: 192rem;
position: sticky;
    top: 0;
    z-index: 1;
}
.nav{
    background-color: #202846;
    height: 9rem;
    width: 192rem;
    display: inline-flex;
}
.logo{
    padding-top: 1rem;
    padding-left: 13.8rem;
    padding-right: 13%;
}
.headline{
    display: inline-flex;
}
.headtex{
    font-size: 2.4rem;
    border-right: 0.2rem solid rgb(255, 255, 255);
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
    width: 17rem;
    padding-top: 1rem;
}
.kal{
    color: white;
    text-decoration: none;
}
.star{
    fill: #F5F5F5;
}
.star:hover{
    fill: yellow;
}
.headglobus{
    position: relative;
    font-size: 2.4rem;
    padding-left: 2rem;
    color: white;
    padding-top: 0.5rem;
    display: inline-flex;
}
.headlang{
    font-size: 2.4rem;
    padding-left: 2rem;
    color: white;
    padding-top: 2rem;
    display: inline-flex;
}
.blokbron{
    background-color: #C6C6DC;
    display: flex;
    width: 192rem;
    height: 14rem;
    position: sticky;
}
.bron{
    font-size: 4.8rem;
    padding-left: 22rem;
    padding-top: 3.5rem;
}
.allheader{

}
.miscabody{
  margin-top: 5.5rem;
  background-color: #F5F5F5;
}
.pozition{
    text-align: center;
    display: inline-flex;
    width: 149rem;
    height: 7.3rem;
    margin-left: 21.5rem;
    background-color: #E8E8E8;
}
.places{
   font-size: 2.8rem;
   padding-top: 2.5rem;
   padding-left: 57rem;
}
.pollygon{
    size: 3.3rem;
    padding-left: 55rem;
    padding-top: 2rem;
}
.promo{
margin-top: 3.6rem;
background-color: #F5F5F5;
}
.card{
    width: 149rem;
    height: 30rem;
    display: inline-flex;
    margin-left: 21.5rem;
    background-color: #BDBDC6;
}
.card:hover{
    background-color: #AEAEE2;
}
.cardtitle{
font-size: 3.6rem;
position: absolute;
display: flex;
padding-top: 2.6rem;
}
.cardtex{
    font-size: 2.2rem;
    position: absolute;
    width: 74.2rem;
    height: 14.4rem;
    margin-left: 10rem;
    margin-top: 6rem;
    background-color: #D7D7DD;
    text-align: center;
    padding-top: 4rem;
}
.title{
    margin-left: 10rem;
    padding-right: 48rem;
    border-bottom: 0.1rem solid white;
}
.img{
    padding-top: 3rem;
    padding-left: 10rem;
}
.title1{
    margin-left: 10rem;
    padding-right: 47rem;
    border-bottom: 0.1rem solid white;
}
.title2{
    margin-left: 10rem;
    padding-right: 40rem;
    border-bottom: 0.1rem solid white;
}
.title3{
    margin-left: 10rem;
    padding-right: 45rem;
    border-bottom: 0.1rem solid white;
}
.more{
    width: 20rem;
    height: 4rem;
    background-color: #202846;
    margin-top: 2rem;
    border-radius: 3rem;
    margin-left: 65rem;
    color: white;
    font-size: 2.4rem;
    padding-top: 1rem;
}
.more:hover{
    background-color: #EF075B;    
}
.more2:hover{
    background-color: #EF075B;
}
.more1:hover{
    background-color: #EF075B;
}    
.more3:hover{
    background-color: #EF075B;
}    
.contactcard{
    width: 132rem;
    height: 50rem;
    background-color: #BDBDC6;
    margin-left: 31.5rem;
    margin-top: 10rem;
    display: inline-flex;
}
.bottom1{
width: 25rem;
height: 5rem;
font-size: 2.4rem;
background-color: #69749B;
border-radius: 2.4rem;
    text-align: center;
    margin-bottom: 2.2rem;
    margin-left: 14rem;
    color: white;
    padding-top: 1rem;
}
.bottom2{
    width: 25rem;
    height: 5rem;
    font-size: 2.4rem;
    background-color: #484A54;
    border-radius: 2.4rem;
    text-align: center;
    margin-left: 14rem;
    color: white;
    padding-top: 1rem;
}
.contactlogo{
    padding-left: 16.7rem;
    padding-top: 7.7rem;
    padding-bottom: 3.8rem;
}
.ccardleft{
    width: 30%;

}
.ccardright{
    margin-left: 10rem;
    line-height: 8rem;
    padding-top: 3rem;
    
}
.visittex{
    list-style-type: none;
    font-size: 3.6rem;
    border-bottom: 0.1rem solid white;
}
.more1{
    width: 20rem;
    height: 4rem;
    background-color: #202846;
    margin-top: 4rem;
    border-radius: 3rem;
    margin-left: 65rem;
    color: white;
    font-size: 2.4rem;
    padding-top: 1rem;
}
.more2{
    width: 20rem;
    height: 4rem;
    background-color: #202846;
    margin-top: -0.5rem;
    border-radius: 3rem;
    margin-left: 65rem;
    color: white;
    font-size: 2.4rem;
    padding-top: 1rem;   
}
.more3{
    width: 20rem;
    height: 4rem;
    background-color: #202846;
    margin-top: 4rem;
    border-radius: 3rem;
    margin-left: 85rem;
    color: white;
    font-size: 2.4rem;
    padding-top: 1rem;
    text-align: center;
}
.continform{
    height: 68rem;
    width: 192rem;
}
.contactline1{
display: flex;
}
.contact1{
margin-top: 13rem;
margin-left: 45rem;
    margin-right: 13rem;
}
.conttitle1{
font-size: 3.2rem;
border-bottom: 0.1rem solid black;
}
.contacttex1{
font-size: 3rem;
}
.contact2{
margin-top: 13rem;
margin-right: 14rem;
}
.conttitle2{
font-size: 3.2rem;
border-bottom: 0.1rem solid black;
}
.contacttex2{
font-size: 3rem;
}
.contact3{
margin-top: 13rem;
}
.conttitle3{
font-size: 3.2rem;
border-bottom: 0.1rem solid black;
}
.contacttex3{
font-size: 3rem;
}
.contactline2{
display: flex;
}
.contact4{
width: 42rem;
margin-left: 45rem;
margin-top: 15rem;
}
.conttitle4{
font-size: 3.2rem;
border-bottom: 0.1rem solid black;
}
.contacttex4{
font-size: 3rem;
}
.maps{
    margin-left: 25rem;
}