html{
    font-size: 10px;
}
body{
    background-color: black;
    max-width: 144rem;
    margin: 0;
}
.header{
width: 134rem;
height: 6.6rem;
display: flex;
margin-top: 1.7rem;
margin-left: 5rem;
font-family: poppins;
}
.headlogo{

}
ul{
    padding-top: 1.9rem;
    margin-left: 35rem;
    margin-right: 35rem;
}
li{
    float: left;
    padding-right: 2.5rem;
    color: white;
    list-style-type: none;
}
.headnavig{
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
}
.headnavig:hover{
    color: #FFB742;
}
.headbutton{
    width: 12.1rem;
    height: 5.4rem;
    background-color: #FFB742;
    border-radius: 5rem;
    display: flex;
}
.headbuttontext{
    font-size: 1.8rem;
    padding-left: 3rem;
    padding-top: 1.5rem;
    color: black;
    text-decoration: none;
}
.familiarity{
    width: 96.5rem;
    height: 46rem;
    margin-top: 11rem;
    margin-left: 22.5rem;
    font-family: Inter;
}
.familiarity p:nth-child(1){
    text-align: center;
    color: white;
    font-size: 3.2rem;
}
.familiarity p a{
    color: #FFB742;
}
.familiarity p:nth-child(2){
    text-align: center;
    color: white;
    font-size: 4.8rem;
    font-weight: 900;
}
.familiarity p:nth-child(3){
    text-align: center;
    color: white;
    font-size: 2.4rem;
}
.avatar{
    padding-left: 35rem;
}
.cardblock{
    width: 130rem;
    height: 12rem;
    justify-content: space-between;
    display: inline-flex;
    margin-left: 7.2rem;
    margin-top: 14rem;
}
.card{
    width: 32%;
    background-color: #292B2E;
    border-radius: 2rem;
    display: flex;
    align-items: center;
}
.card:hover{
    background-color: #FFB742;
    color: black;
}
.logocircle{
    width: 6.4rem;
    height: 6.4rem;
    background-color:#E9E9E9;
    border-radius: 3rem;
    margin-left: 3rem;
    margin-right: 5.6rem;
}
.logocircle img{
    height: 4rem;
    padding: 1.2rem;
}
.card  div>p:nth-child(1){
    font-size: 3.2rem;
    font-weight: 900;
    color: #FFB742;
    size: 100%;
    margin: 0;
    text-align: center;
}
.card  div>p:nth-child(2){
    font-size: 1.6rem;
    color: white;
    size: 100%;
    margin: 0;
    font-weight: 900;
}
.card  :nth-child(3){
    width: 6.8px;
    height: 11.6px;
    margin-left: 5.7rem;
}
.card:hover >div>p{
    color: #212529;
	transition: all 400ms;
}
.aboutman{
    display: flex;
    margin-top: 21rem;
}
.aboutman div{
    width: 50%;
}
.cardabout div:first-child{
    background-color: #383E45;
    text-align: center;
    width: 15rem;
    border-radius: 2rem;
    height: 4.2rem;
    object-position: center;
}
.whoi{
    font-size: 1.8rem;
    color: #FFB742;
    padding-top: 0.9rem;
    font-weight: 600;
}
.cardabout div:nth-child(2){
    font-size: 4.8rem;
    color: white;
}
.cardabout div:nth-child(3){
    font-size: 1.6rem;
    color: #D4D4D4;
    text-align: left;
    width: 100%;
    height: 17.7rem;
    margin-bottom: 2.6rem;
    line-height: 3rem;
}
.cardabout div:nth-child(4){
    background-color: #FFB742;
    text-align: center;
    width: 15rem;
    border-radius: 3rem;
    height: 5.4rem;
    object-position: center;
    
}
.treatment{
    text-align: center;
    color: black;
    font-weight: 900;
    font-size: 2rem;
    padding-top: 1.5rem;
}
.skills{
    width: 134rem;
    height: 36rem;
    margin-top: 10rem;
    display: flex;
}
.aboutskills{
    width: 45%;
    display: flex;
    margin-left: 5%;
}
.aboutskills div:first-child{
    background-color: #383E45;
    text-align: center;
    width: 15rem;
    border-radius: 2rem;
    height: 4.2rem;
}
.mysk{
    padding-top: 1rem;
    margin: 0;
}
.aboutskills div:nth-child(2){
    color: white;
    font-size: 4.8rem;
    padding-top: 4rem;
    position: absolute;
}
.aboutskills div:nth-child(3){
    color: white;
    font-size: 1.6rem;
    padding-top: 20rem;
    position: absolute;
}
.aboutskills div:last-child{
    background-color: #FFB742;
    text-align: center;
    width: 15rem;
    border-radius: 3rem;
    height: 5.4rem;
    object-position: center;
    position: absolute;
    margin-top: 31rem;
}
.zapr{
    margin: 0;
}
.skillsicons{
width: 50%;
display: flex;
}
.iconsbox{
    width: 56rem;
    height: 17.6rem;
    padding-left: 20rem;
    display: flex;
}
.iconsbox div div{
    width: 8rem;
    height: 8rem;
    background-color: #383E45;
    margin-right: 1.6rem;
    border-radius: 1rem;
}
.iconsbox div div:hover{
background-color: #FFB742;
opacity: 50%;
}
.iconsbox>div{
    display: inline-flex;
    position: absolute;
}
.iconsbox>div:last-child{
    margin-top: 10rem;
    display: inline-flex;
}
.iconsbox img{
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}
.works{
    width: 123.5rem;
height: 108rem;
display: flex;
margin-top: 14rem;
object-position: center;
}
.hbuttom{
    background-color: #383E45;
    width: 15rem;
    border-radius: 2rem;
    height: 4.2rem;
    display: flex;
    margin-left: 65rem;
}
.hbuttom>p{
 text-align: center;
 font-size: 2rem;
 color: #FFB742;
 margin: 0;
 padding-top: 1rem;
padding-left: 2rem;
}
.works>h2{
    margin: 0;
    padding-top: 4rem;
    position: absolute;
    font-size: 4.8rem;
    color: white;
    padding-left: 57rem;
}
.worktypes{
    width: 66rem;
    height: 4rem;
    position: absolute;
    padding-top: 12rem;
    padding-left: 39.5rem;
    display: flex;
}
.worktypes div{
    text-align: center;
    width: 16rem;
    border-radius: 0.3rem;
    height:4rem;
    object-position: center;
    position: absolute;
    display: flex;
}
.worktypes div:nth-child(2){
    width: 13rem;
    height: 4rem;
    padding-left: 12rem;
}
.worktypes div:nth-child(3){
    padding-left: 31rem;
}
.worktypes div:nth-child(4){
    padding-left: 50rem;
}
.worktypes>div>div{
    font-size: 1.6rem;
    color: white;
    width: max-content;
    padding-top: 1rem;
}
.worktypes:nth-child(1){
    width: 7rem;
    height: 4rem;
}
#but{
width: 5rem;
background-color: #FFB742;
height: 3rem;
color: black;
}
.project{
    display: flex;
    width: 100%;
    height: 50rem;
    position: absolute;
}
.project div{
    margin-top: 20.5rem;
}
.project div:nth-child(1){
    padding-left: 10rem;
    padding-right: 3.2rem;
}
.project div:nth-child(2){
    padding-right: 3.2rem;
}
.pr2line{
    margin-top: 53rem;
}
.reviews{
    display: flex;
}
.commentbut{
    background-color: #383E45;
    width: 18rem;
    border-radius: 2rem;
    height: 4.2rem;
    display: flex;
    margin-left: 65rem;
}
.commentbut div{
    text-align: center;
    font-size: 2rem;
    color: #FFB742;
    margin: 0;
    padding-top: 1rem;
   padding-left: 2rem;
}
#thoughts{
    margin: 0;
    padding-top: 4rem;
    position: absolute;
    font-size: 4.8rem;
    color: white;
    padding-left: 55rem;
}
.comentcard{
    width: 25%;
    background-color: white;
    display: flex;
    position: absolute;
    height: 45.5rem;
    margin-top: 20rem;
    padding-right: 4rem;
}
.allcards{
    display: flex;
    position: absolute;
    width: 122rem;
    margin-left: 10rem;
}
.card2{
    margin-left: 46rem;
}
.card3{
    margin-left: 91rem;
}
.fivestar{
    display: inline-block;
    height: 2rem;
    padding-left: 3rem;
    padding-top: 6rem;
    position: absolute;
}
.comenttext{
    width: 90%;
    position: absolute;
    font-size: 2rem;
    padding-top: 10rem;
    padding-left: 3rem;
    line-height: 3rem;
}
.user{
    display: flex;
}
.user img{
    height: 7.2rem;
    padding-top: 33rem;
    padding-left: 3rem;
}
.user>div{
    padding-top: 33rem;
    padding-left: 2.5rem;
    font-size: 2rem;
    font-weight: 900;
    line-height: 4rem;
}
.user span{
    font-size: 1.6rem;
    font-weight: 100;
}