body{
    background-color: #52616B;
    background-size: 100%;
    max-width: 144rem;
    height: 348.3rem;
}
html{
    font-size: 10px;
}
.header{
    background-image: url(../images/i4\ 1.png);  
    background-repeat: no-repeat;
    background-size: 100%;
    height: 18.58%;
}
.headtext{
    color: white;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 2rem;
}
.logoimg{
    padding-top: 0.9% ;
    float: left;
    border-bottom: 0.1rem solid #C9D6DF;
    padding-bottom: 1.04%;
    margin-left: 7%;
    padding-right: 22.2%;
}
.bmvlists1{
    display: inline-block;
    font-size: 2rem;
    padding-top: 2.4rem;
    padding-inline-end: 4.16%;
    float: left;
    border-bottom: 0.1rem solid #C9D6DF;
    padding-bottom: 2.08%;
    color: #C9D6DF;
}
.vidst{
    display: inline-block;
    font-size: 2rem;
    padding-top: 2.4rem;
    float: left;
    border-bottom: 0.1rem solid #C9D6DF;
    padding-bottom: 2.08%;
    padding-inline-end: 13.68%;
    color: #C9D6DF;
}
.box1{
    width: 87%;
    height: 9rem;
}
.the8{
    font-size: 3.4rem;
    color: #C9D6DF;
    width: 13%;
    padding-left: 13.5%;
    font-family: 'Montserrat'; 
    padding-top: 1.9rem;  
}
.box2
{
    background-image: url(../images/the\ 8\ 1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 14.36%;
    background-size: 83%;
    margin-top: 9%;
}
.box3{
    background-image: url(../images/the\ x7\ 2.jpg);
    background-repeat: no-repeat;
    height: 34rem;
    margin-top: 1.7rem;
    margin-left: 12.2rem;
    width: 59rem;
    background-size: 100%;
}
.thex7{
    font-size: 3.4rem;
    color: #C9D6DF;
    width: 50%;
    padding-left: 2.6rem;
    font-family: 'Montserrat';
    padding-top: 1rem;
}
.box4{
    background-image: url(../images/the\ 5\ 1.jpg);
    background-repeat: no-repeat;
    height: 34rem;
    margin-top: 1.7rem;
    margin-left: 1.2rem;
    width: 59rem;
    background-size: 100%;
}
.the5{
    font-size: 3.4rem;
    color: #C9D6DF;
    width: 50%;
    padding-left: 12rem;
    padding-top: 1rem;
    text-align: center;
}
.twocar{
    display: inline-flex;
}
.box2:hover{
    filter: contrast(40%);
}
.box3:hover{
    filter: invert(100%);
}
.box4:hover{
    filter: sepia(100%);
}