html{
    font-size: 10px;
}
body{
    max-width: 144rem;
}
.art{
    color: aqua;
    text-align: center;
    font-size: 4.8rem;
    margin: 2rem;
    }
span.art{
        color: black;
    }
.sobor{
background-image: url("../image/Успенський\ собор\ 1.jpg");
height: 85rem;
background-repeat: no-repeat;
    }
.prap{
    padding-left: 8rem;
    padding-top: 25rem;
}
.motivation{
    display: inline-block;
    padding-left: 16rem;
    font-size: 6.4rem;
    padding-bottom: 40rem;
    color: white;
    font-weight: 600; 
}
html>body>p.famous{
    font-size: 4.8rem;
    border-bottom: 0.5rem solid;
    border-bottom-color: aqua;
    width: max-content;
    margin-left: 5.6%;
}
.misca2{
    width: 27.8%;
    border: 1px solid black;
    display: inline-table;
    height: 48rem;
    margin-left: 2.7%;
    border-radius: 5%;
}
.misca{
    width: 27.8%;
    border: 1px solid black;
    display: inline-table;
    height: 48rem;
    margin-left: 5.6%;
    border-radius: 5%;
}
.imgkh{
    width: 100%;
}
.card-title{
    width: 95%;
    font-size: 3.6rem;
    line-height: 6rem;
    font-weight: 600;
    padding-left: 1rem;
}
.card-title:hover{
    color: aqua;
}
.card-textn{
    width: 90%;
    font-size: 3.2rem;
    line-height: 4.5rem;
    padding-left: 1rem;
}
.pobazh{
    font-size: 4.8rem;
    text-align: center;
    border-bottom: 0.5rem solid;
    border-bottom-color: aqua;
    width: max-content;
    margin-left: 5.6%;
}
.heart{
    background-image: url(../image/Дизайн\ без\ назви\ \(1\)\ 1.jpg);
    background-repeat: no-repeat;
    height: 89rem;
    background-position: center;
}
.helping{
    font-size: 4.8rem;
    color: white;
    background-color: blue;
    height: 5.6rem;
    display: inline-flex;
    text-align: center;
    margin: 85rem 38.5%;
}
.end{
    background-color: blue;
    height: 40.5rem;
    margin-top: 20rem;
    padding-top: 2rem;
}
.refer{
    color: #353949;
    font-size: 3.2rem;
    text-align: center;
    line-height: 7.5rem;
}
.icons1{
    margin-left: 42rem;
    margin-inline-end: 8rem;
}
.icons2{
    margin-inline-end: 8rem;
    margin-inline-start: 8rem;
}
.icons3{
    margin-inline-end: 8rem;
    margin-inline-start: 8rem;
}
.icons4{
    margin-inline-end: 8rem;
    margin-inline-start: 8rem;
}
.use{
    display: inline-flex;
}